@use 'App';

form {
    display: flex;
    padding: 10px;
    border-radius: App.$curved-borders;
    background-color: App.$primary-bkg;
    box-shadow: App.$shadow;
    flex-direction: column;
    gap: 30px;
    width: 60%;

    input {
        width: 90%;
        color: black;
        background-color: App.$primary-bkg;
        border-radius: App.$curved-borders;
        border: App.$input-border;
        padding: 5px
    }

    .date-ID {
        @include App.flexRowCenter;

        gap: 70px;
    }

    .dateInfo {
        @include App.flexCol;
        width: 30%;
    }

    .ticketSpecialID {
        width: 20%;
    }

    button {
        background-color: rgb(0, 176, 0);
        border-radius: App.$curved-borders;
        border: none;
        padding: 10px;
    }
}