@use 'App';

form {
    display: flex;
    padding: 10px;
    border-radius: App.$curved-borders;
    background-color: App.$primary-bkg;
    box-shadow: App.$shadow;
    flex-direction: column;
    gap: 30px;
    width: 60%;

    input {
        width: 90%;
        color: black;
        background-color: App.$primary-bkg;
        border-radius: App.$curved-borders;
        border: App.$input-border;
        padding: 5px
    }

    .date-ID {
        @include App.flexRowCenter;
        gap: 70px;
    }

    .dateInfo {
        @include App.flexCol;
        width: 30%;
    }

    .ticketSpecialID {
        width: 20%;
    }

    button {
        background-color: rgb(0, 176, 0);
        border-radius: App.$curved-borders;
        border: none;
        padding: 10px;
    }
}

.formSuccess {
    @include App.flexCol;
    height: 50%;
    width: 60%;
    box-shadow: App.$shadow;
    border-radius: App.$curved-borders;
    background-color: white;
    animation: successDisplay 0.5s ease forwards;

    h2,
    h3 {
        font-size: 16px;
        font-weight: 400;
    }

    .ticketSVG {
        height: 100px;
    }

    button {
        background-color: black;
        box-shadow: App.$shadow;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: App.$curved-borders;
    }
}

@keyframes successDisplay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (width <= 800px) {
    form {
        width: 90%;
        .ticketSpecialID {
            width: 30%;
        }
    }

}