@use 'App';

@mixin ticket-detail {
    font-weight: 500;
    line-height: 0.5;
    font-size: 14px;
}

.ticket {
    height: 100%;
    margin: 20px;
    min-width: 50%;
    border-radius: App.$curved-borders;
    background-color: App.$primary-bkg;
    box-shadow: App.$shadow;
    text-align: center;
    animation: appear .3s linear forwards;

    .tixEvent {
        border: 1px solid cornflowerblue;
        text-shadow: App.$txt-shadow;
        color: white;
        border-top-left-radius: App.$curved-borders;
        border-top-right-radius: App.$curved-borders;
        background-color: cornflowerblue;

        p {
            font-size: 12px;
        }

        .tixCode {
            font-size: 14px;
        }
    }

    .tixUser {
        border-bottom: 1px dashed black;
        height: 45%;
        @include App.flexRowBottom;
        gap: 10px;

        .tixName {
            text-align: left;
            @include ticket-detail;
        }

        .tixDate {
            text-align: left;
            @include ticket-detail;
        }
    }

    .tixSpecCode {
        @include ticket-detail;
    }

    img {
        height: 75px;
    }
}

@keyframes appear {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media (width <= 800px) {
    .ticket {
        @include App.flexRowCenter;
        height: 20vh;

        .tixEvent {
            height: 100%;
            border-top-right-radius: 0;
            border-bottom-left-radius: App.$curved-borders;
            @include App.flexCol;
            .tixCode {
                padding: 10px;
            }
        }
        .tixUser {
            border-bottom: none;
            border-right: 1px dashed black;
            height: 100%;
            @include App.flexCol;
            gap: 0;
            
            .tixName {
                text-align: center;
                padding: 10px;
                width: 100%;
                @include ticket-detail;
            }

            .tixDate {
                text-align: center;
                padding: 10px;
                width: 30vw;
                @include ticket-detail;
            }
        }
        .specialCode {
            @include App.flexCol;
            padding: 10px;
        }
    }
}