@use 'App';

@mixin ticket-detail {
    font-weight: 500;
    line-height: 0.5;
    font-size: 14px;
}

.ticket {
    height: 100%;
    margin: 20px;
    width: 50%;
    border-radius: App.$curved-borders;
    background-color: App.$primary-bkg;
    box-shadow: App.$shadow;
    text-align: center;

    .tixEvent {
        border: 1px solid cornflowerblue;
        text-shadow: App.$txt-shadow;
        color: white;
        border-top-left-radius: App.$curved-borders;
        border-top-right-radius: App.$curved-borders;
        background-color: cornflowerblue;
        p {
            font-size: 12px;
        }
        .tixCode {
            font-size: 14px;
        }
    }

    .tixUser {
        border-bottom: 1px dashed black;
        height: 45%;
        @include App.flexRowBottom;
        gap: 15px;

        .tixName {
            text-align: left;
            @include ticket-detail;
        }
        .tixDate {
            text-align: left;
            @include ticket-detail;
        
        }
    }

    .tixSpecCode {
        @include ticket-detail;
    }

    img {
    height: 75px;
    }
}

